<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Public</servlet-name>
        <servlet-class>controllers.Public</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>controllers.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>controllers.Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Parent</servlet-name>
        <servlet-class>controllers.Parent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>controllers.Admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Public</servlet-name>
        <url-pattern>/Public</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Parent</servlet-name>
        <url-pattern>/Parent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
